*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

#enscart_wrapper {
  margin-top: 0px;  
  bottom: auto;
  right: 100px;
  left: auto;		
}
@media screen and (max-width: 400px){
  #enscart_wrapper {
    margin-top:50px;

  }
}
.modal-content{
  overflow: hidden;
  padding: 0;
}
.modal-body{
  padding: 0;
  margin: 0;
}
.navbar{
  width: 100vw;
}
.navbar-nav a{
  font-size: 1.2rem;
  font-weight: 500;
  z-index:1;
  color:rgb(8, 8, 8);
}
.navbar-brand{
  font-size: 1.7rem;
  font-weight: 600;
  text-shadow: grey 3px 3px 6px;
  color:white;
}
.sticky-top{
  z-index: 1;
}
#opac{
  opacity: 1;
}
.dropdown-menu a{
  color:rgb(155, 154, 154);
}
.dropdown-menu a:hover{
  color:rgb(0, 0, 0);
}
/*-carousel*/
.carousel-item img{
  margin-top: 10vh;
  height: 90vh;
}

.carousel-caption1 {
  position: absolute;
  bottom: 40vh;
  left: 45%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: rgb(12, 12, 12);
  text-align: center;
}

.revolution{
  padding: 8px;
  border:2px solid white;
}
.carousel_content p{
font-size: 500;
}
/*--first_section*/
.row{
  margin-right: 15px;
  margin-left: 15px;
}
.first_section{
 height: 100vh;

}
.about{
  background-color: rgb(245, 243, 243);
  display: flex;
  flex-wrap: wrap;
  padding: 10vh 3vh 7vh 3vh;
  
}
.about h2{
  margin-top:10vh;
  margin-left:30px;
}
.btn-dark{
  margin-bottom: 5vh;;
}
@media (max-width:600px){
  .vidget{
    width:300px;
    height:250px;
    margin-left:5vw;
  }
}

/*-items*/
.wrapper_items{
  padding-left:8vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card_item{
  margin-top:15vh ;
  padding-top: 10vh;
  width:250px;
  height: fit-content;
  border:1px solid rgb(226, 226, 226);
  border-radius: 10px;
  overflow: hidden;
  margin-right: 5vw;
}
.card_item:hover{
  box-shadow:rgb(226, 226, 226) 5px 6px 8px 6px ;
}
.card_item h3{
  text-align: center;
}
.card_item img{
height: 170px;
width:250px;

}
.inner_card{
  display: flex;
  flex-direction: column;
}
.btn-ens-action{
  width:120px;
  border-radius: 10px;
  color:white;
  margin-top: 20px;
  margin-left:40%;
  margin-bottom: 30px;
}
/*=delivery*/
.delivery{
background-color: rgb(245, 249, 249);
margin-top:10vh;
padding: 0 15px 2vh 15px;
height: 75vh;
}

.delivery h2{
  padding-top:10vh;
  text-align: center;
}
.delivery_content{
  margin:2vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.delivery_content img{
  height: 120px;
  width: 150px;
  margin:3vh;
  
}
/*--brands--*/

.last{
  margin-bottom: 5vh;
  padding-right: 5vw;
  padding-left:5vw;
}
.last h2{
  font-size: 2.2rem;
  color:rgb(61, 3, 3);
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  margin: 5vh 0 15vh 0;
}
.last p{
  text-align: center;
  margin-bottom: 15vh;
}
.line{
  height: 3px;
  width: 100vw;
  background-color: rgb(228, 227, 227);
}
.brands{
  display: flex;
  justify-content: space-between;
}
.brands img{
  height: 150px;
  width: 150px;
}
/*--contacts--*/
.contacts{
  background-color: rgb(26, 25, 25);
  height: 100vh;
  color:white;
}
.container-fluid{
  padding:0px;
}

.contacts_text{
  margin:20vh 0 0 10vw;
}
.contacts_text h3{
  font-size: 2rem;
  margin-top: 5vh;
}
.contacts_text h4{
  font-size: 1.8rem;
}
.contacts_text p{
  font-size: 1.3rem;
}
.map img{
  margin-top:10vh;
  height: 100%;
  width: 100%;
}
.contacts_structure{
  display: flex;
  padding-left: 2vh;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width:1024px) {
  .right_col{
    display:none;
  }
  .right_col{
    width: 100vw;
  }
  .brands img{
    height: 70px;
    width: 80px;
  }
  .contacts_text h3{
    font-size: 1.4rem;
    margin-top: 5vh;
  }
  .contacts_text h4{
    font-size: 1.5rem;
  }
  .contacts_text p{
    font-size: 1.2rem;
  }
  .map img{
    margin-top:10vh;
    height: 300px;
    width: 400px;

  }
  .pt-10{
    font-size: 18px;
  }
  .guests{
    font-size: 25px;
  }
  .welcome{
    font-size: 20px;
  }
}
@media (max-width:600px) {
.contacts_text h3{
  font-size: 1.3rem;
  margin-top: 5vh;
}
.contacts_text h4{
  font-size: 1.2rem;
}
.contacts_text p{
  font-size: 1rem;
}
.map img{
  margin-top:10vh;
  height: 200px;
  width: 300px;
}
.contacts_structure{
  
  flex-direction: column;
  flex-wrap: wrap;
}
.carousel-inner{
  display: none;
}
.pt-10_top{
  margin-top: 10vh;
}
.pt-10{
  font-size: 16px;
}
}
/*---form contacts*/
.contact_text{
padding-top: 15vh;
margin-left:14vw;
width: 100%;

}
.contact_text span{
  font-weight: 500;
  font-size: 1.1rem;
}
.wrapper_contact{
  margin:10vh 5vh 10vh 5vh;
  border:2px solid rgb(247, 247, 247);
}
.wrapper_contact:hover{
  box-shadow: rgb(223, 223, 223) 7px 5px 6px 6px;
}
#inline {
   margin-left:30px;
   width:80%;
   margin:0 auto;
   background:#FFF;
   padding:10px 20px;
}
.txt {
   display:inline-block;
   color:#676767;
   width:190px;
   margin-bottom:10px;
   border:1px solid #CCC;
   padding:5px 9px;
   font-size:15px!important;
   line-height:1.4em;
}
.txtarea {
   display:inline-block;
   color:#676767;
   width:50vw;
   margin-bottom:10px;
   border:1px solid #CCC;
   padding:5px 9px;
   font-size:15px!important;
   line-height:1.4em;
   height:80px;
}
.txt:focus, .txtarea:focus {
   border-style:solid;
   border-color:#BABABA;
   color:#444;
}
input.error, textarea.error {
    border-color:#973D3D;
    border-style:solid;
    background:#F0BEBE;
    color:#A35959;
}
input.error:focus, textarea.error:focus {
    border-color:#973D3D;
    color:#A35959;
}
#send { 
    color:#FFFFFF;
    display:block;
    cursor:pointer;
    padding:5px 11px;
    font-size:1.2em;
    border:solid 1px #F9F9F9;
    border-radius:2px;
    background:#70C6B9;
    width:210px;
    margin-bottom:20px;
}
#send:hover {
    background:#979797;
}
